@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

header {
    color: var(--font-color);
    background-color: var(--white-smoke);
    box-shadow: 1px 1px 20px 20px var(--default-box-shadow-color) ;
    overflow: hidden;
    padding: 20px;
}

header h1 {
    font-family: "Lobster", sans-serif !important;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    margin-left: 30px;
    letter-spacing: 2px;
    cursor: pointer;
    user-select: none;
}