<header>
    <h1 routerLink="/">01Blog</h1>
    <div class="helper-container">
        <div class="notif" (click)="toggleNotifications($event)">
            <mat-icon id="notif" fontSet="material-icons-outlined">notifications</mat-icon>
            <div *ngIf="needToSeen()" class="red-dot"></div>
        </div>
        <img (click)="togglePopup()" [src]="avatar()">
        <div *ngIf="profile_popup() == true" class="helper">
            <div routerLink="/profile/me">
                <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
                <p>Profile</p>
            </div>
            <div *ngIf="userRole() === 'ADMIN'" routerLink="/admin">
                <mat-icon fontSet="material-icons-outlined">admin_panel_settings</mat-icon>
                <p>Admin</p>
            </div>
            <div (click)="onLogout()">
                <mat-icon fontSet="material-icons-outlined">logout</mat-icon>
                <p>Logout</p>
            </div>
        </div>
    </div>
</header>

<section *ngIf="notifications_open()" class="notification-container">
    <div (click)="$event.stopPropagation()" class="notifications" (scroll)="onScroll($event)">

        <h1 class="title">Notifications</h1>

        <div (click)="markNotificationAsSeen(n , n.notificationId)" class="notification" *ngFor="let n of notifications" [class.unseen]="!n.seen">
            <div [routerLink]="['/profile', n.user.userId ]" class="notification-header">
                <div class="avatar">
                    <img [src]="getFullFileUrl(n.user.avatar)" alt="avatar">
                    <h1>{{ n.user.username }}</h1>
                </div>

                <p class="notification-time">
                    {{ timeAgo(n.createdAt) }}
                </p>
            </div>

            <p>{{ n.message }}</p>
        </div>

        <!-- Loader -->
        <div class="loading" *ngIf="loading">
            Loading...
        </div>


    </div>
</section>