@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

header {
    color: var(--font-color);
    background-color: var(--white-smoke);
    box-shadow: 1px 1px 20px 20px var(--default-box-shadow-color) ;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.helper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 25px;
}

.notif {
    position: relative;

}
.red-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
}

#notif {
    font-size: 27px;
    cursor: pointer;
}

header h1 {
    font-family: "Lobster", sans-serif !important;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    margin-left: 30px;
    letter-spacing: 2px;
    cursor: pointer;
    user-select: none;
}
header img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}
header img:hover {
    transform: scale(1.05);
    transition: all 0.3s linear;
}