<app-main-header></app-main-header>

<section class="profile-card-container">
    <div class="profile-card">

        <div class="header">
            <div class="image-header">
                <img [src]="getFullFileUrl(profile().avatarUrl)" alt="">
                <div>
                    <p>{{ profile().username }}</p>
                    <h3>{{ timeAgo(profile().createdAt) }}</h3>
                </div>
            </div>

            <button (click)="subscribe()" *ngIf="!sub()">Subscribe</button>
            <button (click)="subscribe()" *ngIf="sub()">Unsubscribe</button>
        </div>
        
        <div class="body">
            <div class="sub">
                <p>Subscribers</p>
                <h3>{{ profile().subscribers}}</h3>
            </div>
            <div class="sub">
                <p>Subscriptions</p>
                <h3>{{ profile().subscriptions }}</h3>
            </div>
            <div></div>
        </div>
    </div>
</section>