<app-main-header></app-main-header>
<app-create-post></app-create-post>

<div class="feed-toggle">
  <button [class.active]="feedType === 'subscribed'" (click)="switchFeed('subscribed')">Subscribed</button>
  <button [class.active]="feedType === 'all'" (click)="switchFeed('all')">For you</button>
</div>

<div class="container">
  <app-post-card *ngFor="let post of posts" [post]="post" [userReports]="userReports" (openComments)="openComments($event)">
  </app-post-card>
</div>

<app-comments-section [postId]="activePostId" [visible]="commentsOpen" (close)="closeComments()">
</app-comments-section>


<div class="loading" *ngIf="loading">
  Loading posts...
</div>

<div class="end" *ngIf="!hasMore && !loading">
  No more posts.
</div>