.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}



.loading,
.end {
  text-align: center;
  margin: 20px 0;
  color: gray;
}
