<head>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined&display=swap" rel="stylesheet">
</head>

<div class="post">

        <div class="post-header">
            <div>
                <img src="https://cdn-icons-png.flaticon.com/512/5675/5675059.png">
                <span>John Doe</span>
            </div>
            <span class="date">June 10, 2024</span>
        </div>

        <div class="post-content">
            <h1>My First Blog Post</h1>
            <p>This is the content of my first blog post on 01Blog. I'm excited to share my learning journey with the
                community!</p>
            <div class="img-container">
                <img src="https://preview.redd.it/kol67cuf3uh71.jpg?width=640&crop=smart&auto=webp&s=771ad61a0aab70d09a1df83b39be14a91fad232a">
            </div>
        </div>

        <div class="post-footer">
            <div>
                <mat-icon fontSet="material-icons-outlined">arrow_upward</mat-icon>
                <span>24</span>
            </div>

            <div>
                <mat-icon fontSet="material-icons-outlined">comment</mat-icon>
                <span>5</span>
            </div>
        </div>

    </div>
