<head>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined&display=swap" rel="stylesheet">
</head>

<div class="post" >

    <div class="post-header">
        <div [routerLink]="['/profile', post.authorId]">
            <img [src]="getFullFileUrl(post.avatar)" alt="avatar">
            <span>{{ post.author }}</span>
        </div>
        <span class="date">{{ timeAgo(post.createdAt) }}</span>
    </div>

    <div class="post-content" [routerLink]="['/post', post.id]">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>

        <div class="img-container" *ngIf="post.fileUrl">
            <img *ngIf="post.mediaType === 'image'" [src]="getFullFileUrl(post.fileUrl)" alt="post image">

            <video *ngIf="post.mediaType === 'video'" controls>
                <source [src]="getFullFileUrl(post.fileUrl)" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <div class="post-footer">
        <div [class.active]="post.likedByCurrentUser" (click)="likePost(post.id)">
            <mat-icon fontSet="material-icons-outlined">arrow_upward</mat-icon>
            <span>{{ post.likesCount }}</span>
        </div>
        <div>
            <mat-icon fontSet="material-icons-outlined">comment</mat-icon>
            <span>{{ post.commentsCount }}</span>
        </div>
    </div>

</div>