/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;

    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-variation-settings: 100;
}

:root {
    --font-color: #222;
    --default-box-shadow-color: #e4e3e3;
    --white-smoke: #fafafa;
}
html, body { height: 100%; }
body { margin: 150px 0px 0 0 ; font-family: Roboto, "Helvetica Neue", sans-serif; }

.helper-container {
    position: relative;
}

.helper {
    padding: 3px 0;
    box-shadow: 1px 1px 20px 20px var(--default-box-shadow-color);
    border-radius: 15px;
    position: absolute;
    top: 50px;
    z-index: 99;
    background-color: white;
}

.helper div {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 0 10px;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    min-width: 170px;
}

.helper div:hover {
    background-color: #e9e9e9;
    transition: all 0.5s linear;  
}
